<div style="display: flex; flex-direction: column;">
  <div>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit veritatis in
    culpa quis quasi minima? Quasi ipsa animi consequuntur error soluta deleniti
    voluptates, magnam aliquam, dolorum cupiditate repellendus excepturi qui
    facilis quisquam debitis impedit fugit veniam nostrum inventore. Beatae, id?
    repellendus et nobis, at nesciunt incidunt deleniti sint optio. A eum
    reprehenderit debitis, officiis ex cumque deleniti in ipsam ducimus illo
    optio eos dignissimos amet nulla error odio corporis sequi animi sunt aut
    ea! Pariatur odit ducimus mollitia voluptatem quis molestias
  </div>
  <div>
    <button (click)="onShare()">Share</button>
    <img
      src="https://cdn.pixabay.com/photo/2022/12/10/08/38/christmas-tree-7646798_960_720.jpg"
      alt=""
    />
    <div>
      temporibus, quae dolorum maxime corrupti cupiditate. Officia aliquid
      nostrum nobis fuga cumque, rerum ipsum reiciendis itaque eos debitis et
      cum nesciunt sint autem deleniti adipisci ipsa vero ipsam dolore incidunt.
      Assumenda sequi animi perferendis odit, labore reprehenderit ea quam
      pariatur? Minus voluptatem sequi aspernatur eius excepturi doloremque ea
      consectetur quo magni officiis quidem, et molestias illum mollitia? Hic
      itaque eos quibusdam perferendis minus eius iste, tenetur magni? Modi nemo
      molestiae dolores,di perferendis consectetur, quisquam corporis. Quod non
      nulla sapiente tenetur asperiores, nostrum excepturi libero neque
      veritatis cum voluptates odio provident praesentium fugiat incidunt?
    </div>
  </div>
</div>
